<div id="header" class="nine columns">
	<div class='offset-by-three'>
		<% @books.each do |book| %>
			<a href='/books/<%= book.id %>'>
				<h1><strong class="text"><%= book.title %></strong></h1>
			</a>
		<% end %>
		<br>
		<br>
		<a class="links" href='/books/new'>Add new book</a>
	</div>
</div>
</div>	
